{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Welcome on my blog! ✌️</h1>

        <p>Testing show() method from BlogController with a real article's slug.</p>
        <ul>
            <li><a href="{{ path('blog_show', { 'slug': "telltale-games-ferme" }) }}">Telltale Games va fermer ?</a></li>
        </ul>
        <p>Testing index() method from BlogController to view all articles.</p>
        <ul>
            <li><a href="{{ path('blog_all_articles') }}">All articles</a></li>
        </ul>
        <p>Testing showAllByCategory() method from BlogController to view articles by category.</p>
        <ul>
            <li><a href="{{ path('blog_category', { 'category' : "games" }) }}">Articles by category</a></li>
        </ul>

        <hr>

        <a href="{{ path('homepage') }}">
            <p>Back to homepage.</p>
        </a>
    </div>

{% endblock %}